@{

    ViewBag.Title = "Contact us";  
}
<h2>@ViewBag.Title.</h2> 

<address>
    <br />
    If you are having any trouble, or need our help, feel free to send us an email.<br />
    <br />
    We will get to you as soon as possible<br />
    <br />
    <p>
       
        
        <a href="mailto:curakovic.katarina@gmail.com">curakovic.katarina@gmail.com</a> <span class=" glyphicon glyphicon-comment "></span><br />

</address>